@{
    Layout = "../../Assets/Html/template.cshtml";
}

<!DOCTYPE html>
<body>
    <!-- Blog Post Content -->
    <h1 class="mt-4">@ViewBag.title</h1>
    <hr>
    <p>Posted on  @String.Format("{0:dd/MM/yyyy}", ViewBag.date)</p>
    <hr>
    <img class="img-fluid rounded" src="@ViewBag.image" alt="@ViewBag.title">
    <hr>
    @Html.Raw(@ViewBag.htmlContent)
    <hr>
    
    <!-- Blog Post Comment Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment</h5>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Your name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="EmailAddress">Email Address</label>
                        <input type="email" class="form-control" id="emailAddress" placeholder="Your email address" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Message">Message</label>
                    <textarea placeholder="What's your thoughts?" id="message" class="form-control" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post Comment</button>
            </form>
        </div>
    </div>

    <hr />

    <!-- Blog post comments -->
    <h2>Comments</h2>
    @if (ViewBag.comments != null)
    {
        foreach (var comment in ViewBag.comments)
        {
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle user-avatar" src="" alt=@comment.name>
                <div class="media-body">
                    <h5 class="mt-0"><strong>@comment.name</strong><small><em> (@String.Format("{0:dd/MM/yyyy}", @comment.date) at @comment.date.ToString("HH:mm")) </em></small></h5>
                    @comment.message
                </div>
            </div>
        }
    }
    else
    {
        <p>There are no comments yet</p>
    }
</body>

