@{
    Layout = "../../Assets/Html/template.cshtml";
}

<!DOCTYPE html>
<body>
    <!-- Blog Post Content -->
    <h1 class="mt-4">@ViewBag.title</h1>
    <hr>
    <p>Posted on  @String.Format("{0:dd/MM/yyyy}", ViewBag.date)</p>
    <hr>
    <img class="img-fluid rounded" src="@ViewBag.image" alt="@ViewBag.title">
    <hr>
    @Html.Raw(@ViewBag.htmlContent)
    <hr>

    <!-- Blog post comments -->
    <h2>Blog post comments</h2>
    @if (ViewBag.comments != null)
    {
        foreach (var comment in ViewBag.comments)
        {
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle user-avatar" src="" alt=@comment.name>
                <div class="media-body">
                    <h5 class="mt-0"><strong>@comment.name</strong><small><em> (@String.Format("{0:dd/MM/yyyy}", @comment.date) at @comment.date.ToString("HH:mm")) </em></small></h5>
                    @comment.message
                </div>
            </div>
        }
    } else
    {
        <p>There are no comments yet</p>
    }
</body>

