@{
    Layout = "../../Assets/Html/template.cshtml";
}

<!DOCTYPE html>
<body>     
    <h1 class="mt-4">@ViewBag.title</h1>

    <hr>
     
    <p>Posted on @ViewBag.date.ToString("dd-MM-yyyy")</p>

    <hr>
    
    <img class="img-fluid rounded" src="@ViewBag.image" alt="@ViewBag.title">

    <hr>
    @Html.Raw(@ViewBag.htmlContent)
    <hr>
</body>

